name: Recap Alerts

on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Call alerts endpoint
        run: |
          curl -FsS "${{ secrets.ALERTS_URL }}"
